@model IEnumerable<ElLib.Common.Entities.Book>

@foreach (var book in Model)
{
    <div class="card" style="margin: 15px 0px 15px 0">
        <div class="card-body">
            <div class="float-left" style="width: 100px">
                <img class="img-fluid img-thumbnail" style="max-height: 120px" src="@book.Picture.Value" alt="Card image cap">
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a class="alert-link" title="Подробнее" href="@Url.Action("Info", "Book", new {id = book.Id})">
                            <h5 class="black-text">@book.Name</h5>
                        </a>
                        Писатели:
                        @foreach (var author in book.Authors)
                        {
                            <a class="btn-link black-text" href="@Url.Action("Info", "Author", new {id = author.Id})">@author.LastName @author.Name @author.MiddleName</a>
                        }
                    </div>
                    <div>
                        Жанры:
                        @foreach (var category in book.Categories)
                        {
                            <a class="btn-link black-text" href="@Url.Action("Info", "BookCategory", new {id = category.Id})">@category.Name</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}