@model ElLib.Web.Models.CreateBookCategoryModel

@{
    ViewBag.Title = "Добавить жанр";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-3">
                    <strong>Добавить категорию</strong>
                </h5>
                <div class="card-body">
                    @using (Html.BeginForm("Add", "BookCategory", new { @class = "text-center", @style = "color: #757575;" }))
                    {
                        <div class="md-form mt-3">
                            @Html.TextBoxFor(x => x.Name, new
                            {
                                @class = "form-control",
                                @placeholder = @Html.DisplayNameFor(x => x.Name)
                            })
                        </div>

                        <div class="md-form">
                            <textarea type="text" placeholder="@Html.DisplayNameFor(x=>x.Description)" id="Description" Name="Description" class="form-control md-textarea" rows="3"></textarea>
                        </div>

                        <div class="md-form mt-3">
                            @Html.TextBoxFor(x=>x.Description, new
                            {
                                @class = "form-control",
                                @type = "textarea",
                                @placeholder = @Html.DisplayNameFor(x => x.Description)
                            })
                        </div>
                        <input type="submit" class="btn btn-outline-info btn-rounded btn-block" value="Добавить" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>