@using System.Web.Optimization
@using ElLib.BLL.Authentication

@{
    Layout = null;
    UserPrincipal user;
    if (User as UserPrincipal == null)
    {
        user = new UserPrincipal();
    }
    else
    {
        user = HttpContext.Current.User as UserPrincipal;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/content/site")
    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/mdbootstrap")
    @Styles.Render("~/content/select2")

    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mdbootstrap")
    @Scripts.Render("~/bundles/select2")
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-dark info-color">

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true" data-url="@Url.Action("Login","Auth")">
            <div id="loginContainer">
            </div>
        </div>

        <div class="modal fade" id="modalRegistrationForm" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true" data-url="@Url.Action("Registration","Auth")">
            <div id="registrationContainer">
            </div>
        </div>

        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hiddenNav" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="hiddenNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("All","Book")">Книги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("All","BookCategory")">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("All","Author")">Авторы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("All","Publishing")">Издательства</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" id="navbarDropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownAccount">
                            @if (user.Identity.IsAuthenticated)
                            {
                                <div class="card">
                                    <h6 class="card-header info-color white-text text-center py-1">
                                        @user.UserName (@user.Role)
                                    </h6>
                                </div>
                                <a class="dropdown-item" href="@Url.Action("Profile", "Auth")">Профиль</a>

                                if (user.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Admin")">Панель администратора</a>
                                }
                                else if (user.IsInRole("Editor"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Admin")">Панель редактора</a>
                                }

                                <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Выход</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("Login","Auth")">Вход</a>
                                <a class="dropdown-item" href="@Url.Action("Registration","Auth")">Регистрация</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @*<footer class="page-footer font-small info-color footer fixed-bottom">
            <div class="footer-copyright text-center py-3 info-color">
                © 2018 Copyright:
                <a href="#"> ElectronicLibrary.ru</a>
            </div>
        </footer>*@
</body>
</html>