@model ElLib.Web.Models.EditUserPasswordModel

@using (Html.BeginForm("EditPassword", "Auth"))
{
    <div class="md-form mt-3">
        @Html.TextBoxFor(x => x.OldPassword, new
        {
            @class = "form-control",
            @placeholder = @Html.DisplayNameFor(x => x.OldPassword),
            @type = "password"

        })
        @Html.ValidationMessageFor(x => x.OldPassword)
    </div>
    <div class="md-form">
        @Html.TextBoxFor(x => x.NewPassword, new
        {
            @class = "form-control",
            @placeholder = @Html.DisplayNameFor(x => x.NewPassword),
            @type = "password"

        })
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>
    <div class="md-form">
        @Html.TextBoxFor(x => x.ConfirmPassword, new
        {
            @class = "form-control",
            @placeholder = @Html.DisplayNameFor(x => x.ConfirmPassword),
            @type = "password"

        })
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>
    @Html.ValidationSummary(true)
    <input type="submit" class="btn btn-outline-info btn-rounded btn-block  btn-sm" value="Сохранить пароль" />
}