@model ElLib.Web.Models.RegisterUserModel

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-3">
                    <strong>Регистрация</strong>
                </h5>
                <div class="card-body px-md-4">
                    @using (Html.BeginForm("Registration", "Auth"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="md-form">
                            @Html.TextBoxFor(x => x.UserName, new
                            {
                                @class = "form-control",
                                @placeholder = @Html.DisplayNameFor(x => x.UserName)

                            })
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>
                        <div class="md-form">
                            @Html.TextBoxFor(x => x.Password, new
                            {
                                @class = "form-control",
                                @type = "password",
                                @placeholder = @Html.DisplayNameFor(x => x.Password)
                            })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <div class="md-form">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new
                            {
                                @class = "form-control",
                                @type = "password",
                                @placeholder = @Html.DisplayNameFor(x => x.ConfirmPassword)
                            })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                        <div class="md-form">
                            @Html.TextBoxFor(x => x.Email, new
                            {
                                @class = "form-control",
                                @placeholder = @Html.DisplayNameFor(x => x.Email)
                            })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                        <div class="md-form">
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-rounded btn-outline-info btn-block" value="Зарегистрироваться" style="margin-top: 15px; margin-bottom: 15px;" />
                        </div>
                        <p class="text-center">
                            Уже есть аккаунт?
                            <a href="@Url.Action("Login","Auth")">Войти</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>