
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(document).ready(function () {
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    });
</script>

<div id="wrapper" class="active">
    <div id="sidebar-wrapper" style="width: 300px">
        <h5 class="card-header info-color white-text text-center py-2 container-fluid" id="menu-toggle">
            <strong>Панель администратора</strong>
        </h5>
        <a class="btn btn-sm btn-block" id="sidebar_menu">
            <span class="navbar-toggler-icon"></span>
        </a>
        <ul id="sidebar" style="width: 100%">     
            <li class="mb-2">
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Book")">Книги</a>
            </li>
            <li class="mb-2">
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "BookCategory")">Жанры</a>
            </li>
            <li class="mb-2">
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Author")">Авторы</a>
            </li>
            <li class="mb-2">
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Language")">Языки</a>
            </li>
            <li class="mb-2">
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Publishing")">Издательства</a>
            </li>
        </ul>
    </div>
          
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-md-12">
                    <p class="well lead">An Experiment using the sidebar template from startbootstrap.com which I integrated in my website (<a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>
                    <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p> 
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 info-color rounded-right">
            <h5 class="card-header info-color white-text text-center py-2">
                <strong>Панель администратора</strong>
            </h5>
            
            <ul class="list-unstyled">
                <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>

                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Book")">Книги</a>
                </li>
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "BookCategory")">Жанры</a>
                </li>
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Author")">Авторы</a>
                </li>
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Language")">Языки</a>
                </li>
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Publishing")">Издательства</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "User")">Пользователи</a>
                </li>
                <li class="mb-2">
                    <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Role")">Роли</a>
                </li>
            </ul>
        </nav>
        <main class="col-sm-8 main">...
            </main>
        <aside class="col-sm-2 aside">...</aside>
    </div>
</div>*@


@*<div class="col-sm-2 info-color rounded-right" style="padding-bottom: 1px">
    <!-- Sidebar Holder -->
    <nav class="col-xs-2 navigation">
        <h5 class="card-header info-color white-text text-center py-2">
            <strong>Панель администратора</strong>
        </h5>
        <ul class="list-unstyled">
            <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Home 1</a></li>
                        <li><a href="#">Home 2</a></li>
                        <li><a href="#">Home 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
            <li class="btn btn-white btn-md btn-block mb-2">
                <a class="text-info" href="@Url.Action("All", "Book")">Книги</a>
            </li>
            <li class="btn btn-white btn-md btn-block  mb-2">
                <a class="text-info" href="@Url.Action("All", "BookCategory")">Жанры</a>
            </li>
            <li class="btn btn-white btn-md btn-block mb-2">
                <a class="text-info" href="@Url.Action("All", "Author")">Авторы</a>
            </li>
            <li class="btn btn-white btn-md btn-block mb-2">
                <a class="text-info" href="@Url.Action("All", "Language")">Языки</a>
            </li>
            <li class="btn btn-white btn-md btn-block mb-2">
                <a class="text-info" href="@Url.Action("All", "Publishing")">Издательства</a>
            </li>
        </ul>
        <div style="margin: 0px 0px 0px 0px;">
            <ul class="list-unstyled">
                <li class="btn btn-white btn-md btn-block mb-2">
                    <a class="text-info" href="@Url.Action("All", "User")">Пользователи</a>
                </li>
                <li class="btn btn-white btn-md btn-block mb-2">
                    <a class="text-info" href="@Url.Action("All", "Role")">Роли</a>
                </li>
            </ul>
        </div>
    </nav>
</div>*@
