
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(document).ready(function () {
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
            $("#wrapperIcon").toggleClass("fa-angle-left");
        });
    });
</script>

<div id="wrapper" class="active">
    <div id="sidebar-wrapper" style="width: 300px;background:rgb(51,181,229)">
        <div>
            <button type="button" class="btn btn-md btn-block btn-info" id="menu-toggle" style="height: 60px">
                <div class="row">
                    <div class="col-10">
                        Панель администратора
                    </div>
                    <div class="col-2">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                    </div>
                </div>
            </button>

                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Book")">
            <div class="row">
                    <div class="col-10">
                        Книги
                    </div>
                    <div class="col-2">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
            </div>
                </a>

                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Author")">
            <div class="row">
                    <div class="col-10">
                        Авторы
                    </div>
                    <div class="col-2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
            </div>
                </a>

                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Language")">
            <div class="row">
                    <div class="col-10">
                        Языки
                    </div>
                    <div class="col-2">
                        <i class="fa fa-language" aria-hidden="true"></i>
                    </div>
            </div>
                </a>

                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Publishing")">
            <div class="row">
                    <div class="col-10">
                        Издательства
                    </div>
                    <div class="col-2">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
            </div>
                </a>
            
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "User")">
            <div class="row">
                    <div class="col-10">
                        Пользователи
                    </div>
                    <div class="col-2">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
            </div>
                </a>
            
                <a class="btn btn-white btn-md btn-block text-info" href="@Url.Action("All", "Role")">
            <div class="row">
                    <div class="col-10">
                        Роли
                    </div>
                    <div class="col-2">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
            </div>
                </a>
        </div>
    </div>
</div>