@model IEnumerable<ElLib.Common.Entity.Author>

@foreach (var author in Model)
{
    <tr class="changes">
        <td style="width: 65%;">
            @author.LastName @author.Name @author.MiddleName
        </td>
        <td class="td-pad" style="width: 50px">
            <a class="btn-floating btn-sm info-color" href="@Url.Action("Info", "Author", new {id = author.Id})"><i class="fa fa-info"></i></a>
        </td>
        <td class="td-pad" style="width: 50px">
            <a class="btn-floating btn-sm primary-color" href="@Url.Action("Edit", "Author", new {id = author.Id})"><i class="fa fa-edit"></i></a>
        </td>
        <td class="td-pad" style="width: 50px">
            <a class="btn-floating btn-sm danger-color" href="@Url.Action("Delete", "Author", new {id = author.Id})"><i class="fa fa-close"></i></a>
        </td>
    </tr>
}